body {
 font-family: Cursive; 
 background-color:#e5f9ff;
}

div {
	display:inline-block;
	color: black;
	background-color: #fff2e5;
  font-family: Impact;
}

header {
  background-color: #b3d9ff;
  border: 1.5px solid black;
  padding: 4px;
  border-radius: 5px;
  display:inline-block;
  margin-left: 7%;
}

a {
  display: inline-block;
  border: 1.5px solid black;
  padding: 7px;
  display: inline-block;
  border-radius: 5px;
  font-size: 25px;
  border-radius: 5px;
  font-family: Impact;
  color: blue;
}

p {
  background-color:#b3d9ff;
  display: inline-block;
  border: 1.5px solid black;
  padding: 5px;
  border-radius: 5px;
}

nav {
 background-color:#fff2e5;
  border: 1.5px solid black;
  border-radius: 7px;
  display:inline-block;
  margin-left: 15%;
  position: relative;
  padding: 5px;
  font-style: blue;
}

footer {
  background-color:#fff2e5;
  border: 1.5px solid black;
  border-radius: 7px;
  display:inline-block;
  margin-left: 15%;
  position: relative;
  padding: 5px;
}
